#textoEscolha{
  text-align: center;
  margin-bottom: 20px;
}

#botaoEscolha{
  text-align: center;
  background-color: #151e5d;
  color: white;
  width: 100px;
  height: 70px;
  margin: 80px 40px 20px 40px;
  cursor: pointer;
}

.icones{
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}